@layer reset, base, tokens, recipes, utilities;

html,
body,
* {
  box-sizing: border-box;
  cursor: none !important;
}

body {
  height: 100%;
}

body {
  background: token('colors.neutral.950');
  color: token('colors.white');
  font-family: var(--font-sans), Arial, Helvetica, sans-serif;
}