@layer reset, base, tokens, recipes, utilities;

@media (pointer: fine) {
  html,
  body,
  * {
    cursor: none !important;
  }
}

body {
  height: 100%;
}

body {
  background: token('colors.neutral.950');
  color: token('colors.white');
  font-family: var(--font-sans), Arial, Helvetica, sans-serif;
}